<!DOCTYPE html>
<html lang="en" style="height: 100%; background-color: rgb(226 232 240)">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta
    content="Example on how to use Inertia.js to build the frontend with React.js within a Ruby on Rails application"
    name="description" />
  <meta content="PingCRM" name="application-name" />
  <meta content="#667eea" name="theme-color" />

  <%= tag :meta, name: 'plausible-url', content: ENV['PLAUSIBLE_URL'] %>
  <%= tag :meta, name: 'app-host', content: ENV['APP_HOST'] %>

  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <link rel="manifest" href="/site.webmanifest">
  <link rel="icon" type="image/png" href="<%= vite_asset_path('images/favicon.png') %>">

  <%= vite_client_tag %>
  <%= vite_react_refresh_tag %>
  <%= vite_javascript_tag 'application.tsx' %>
  <!--
      If using a TypeScript entrypoint file:
        vite_typescript_tag 'application'

      If using a .jsx or .tsx entrypoint, add the extension:
        vite_javascript_tag 'application.jsx', this is not same vue

      Visit the guide for more information: https://vite-ruby.netlify.app/guide/rails
    -->
</head>

<body
  style="font-family: ui-sans-serif; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; line-height: 1; color: rgb(30 41 59)">
  <noscript>
    <p>We're sorry but PingCRM doesn't work properly without JavaScript enabled. Please enable it to continue.</p>
  </noscript>

  <%= yield %>
</body>

</html>